style.
  .navbar-nav > .user-menu .user-image {
  margin-top: -8px;
  }

// Navbar.start
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light

  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu' href='#' role='button')
        i.fas.fa-bars

  ul.navbar-nav.ml-left
    li.nav-item.dropdown.user-menu
      a.nav-link(style='padding-left:0; padding-right:.5rem' onclick='alert("Emma v2.0!")' href='#')
        img.user-image.img-circle.elevation-2(src='https://res-5.cloudinary.com/circa-lighting/image/upload/c_lpad,dpr_1.0,f_auto,h_480,q_auto,w_480/media/catalog/product/c/h/cha8663icbnp_5.png')
        span.d-none.d-md-inline Terasz este

  ul.navbar-nav.ml-left
    li.nav-item.dropdown.user-menu
      a.nav-link(style='padding-left:0; padding-right:.5rem' onclick='alert("Emma v2.0!")' href='#')
        img.user-image.img-circle.elevation-2(src='https://i.pinimg.com/736x/a9/18/84/a91884ea9a63ec8fed044f887f4ea3ff.jpg')
        span.d-none.d-md-inline Nappali 18h

  ul.navbar-nav.ml-left
    li.nav-item.dropdown.user-menu
      a.nav-link(style='padding-left:0; padding-right:.5rem' onclick='alert("Emma v2.0!")' href='#')
        img.user-image.img-circle.elevation-2(src='https://4.imimg.com/data4/QW/OY/MY-11124558/solar-garden-lamp-500x500.jpg')
        span.d-none.d-md-inline Kert teljes

  ul.navbar-nav.ml-auto
    li.nav-item.dropdown#usernotify-wrapper
      a.nav-link(data-toggle='dropdown' href='#')
        i.far.fa-bell
        if usernotifies.length
          span.badge.badge-warning.navbar-badge
            = usernotifies.length
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        each usernotify,index in usernotifies
          if index <= 10
            a.dropdown-item.pointer(onclick='readusernotify(' + usernotify.Id + ')')
              case usernotify.Level
                when 1
                  i.text-warning.mr-2(class=usernotify.Icon || 'fa fa-exclamation-triangle')
                when 2
                  i.text-danger.mr-2(class=usernotify.Icon || 'fa fa-exclamation-circle')
                default
                  i.text-info.mr-2(class=usernotify.Icon || 'fa fa-info-circle')
              = usernotify.Subject
              span.float-right.text-muted.text-sm
                = dayjs(usernotify.DateTime).fromNow()
            .dropdown-divider
        a.dropdown-item.dropdown-footer(href='/notify/list')
          if !usernotifies.length
            | Clear! No unread notifies...
            br
          if usernotifies.length > 10
            | + 
            = usernotifies.length - 10
            | 
            | more ...
            br
          | Show all
    li.nav-item
      a.nav-link(href='/logout')
        i.fa.fa-lock

script(type='text/javascript').
  function readusernotify(id)
  {
    $.post('/notify/read', { id: id })
    .done(function(response) {
      console.log(response)
      var json = JSON.parse(response)

      var icon = 'info'
      if (json.level == 1) icon = 'warning';
      if (json.level == 2) icon = 'error';

      swal.fire({
        icon: icon,
        title: json.subject,
        text: json.message,
      });
    })
  }

  if (#{user.id})
  {
    if (typeof subscribes === 'undefined') subscribes = {}
    subscribes['usernotify_#{user.id}'] = "usernotify-wrapper";
  }

