extends _base

block content
  each component, key in cmdcmdcapabilitycomponents
    .row
      .col-md-12
        .card.card-lightblue
          .card-header
            h3.card-title
              = key.toUpperCase()
          .card-body
            .row
              .col-md-2
                h1
                  = (ctxdevice.stat(key) || "?").toUpperCase()
              .col-md-10
                if component
                  each command in component
                    button.btn.btn-lg.btn-success(onclick="$.post('/device/" + device.Name + "/" + key + "/" + command + "');")
                      = command.toUpperCase()

  each component, key in telecapabilitycomponents
    .row
      .col-md-12
        .card.card-lightblue
          .card-header
            h3.card-title
              = key.toUpperCase()
            .card-tools
              .btn-group(id="mode_" + key, data-toggle='btn-toggle')
                button.btn.btn-default.btn-sm.active(type='button', data-toggle='daily') Daily
                button.btn.btn-default.btn-sm(type='button', data-toggle='weekly') Weekly
                button.btn.btn-default.btn-sm(type='button', data-toggle='monthly') Monthly
          .card-body
            .row
              .col-md-2
                h1
                  = (ctxdevice.tele(key) !== undefined ? ctxdevice.tele(key) : "?") + " " + ctxdevice.metric(key)
              .col-md-10
                div(style="height: 300px;", id=key)

  .row
    .col-md-4
      .card.card-info
        .card-header
          h3.card-title Status
            small
              if devicesys
                =" · "
                = moment(devicesys.DateTime).fromNow()
        .card-body
          if !devicesys
            | Not arrived yet...
          else
            each devicesysitem in devicesys.Items
              .row
                .col-sm-4
                  = devicesysitem.Name
                .col-sm-8
                  b
                    = devicesysitem.Value
                  if (devicesysitem.SubValue)
                    small
                      = devicesysitem.SubValue
                  if (devicesysitem.ValueLink)
                    small
                      a(target='_blank' href=devicesysitem.ValueLink) 
                        i.fa.fa-external-link-alt
    .col-md-4
      .card.card-warning
        .card-header
          h3.card-title Last event
        .card-body
          if !devicelastevents
            | No events
          else
            each devicelastevent in devicelastevents
              .row
                .col-sm-6
                  .badge.badge-info
                    = devicelastevent.Event
                .col-sm-6
                  b
                    = devicelastevent.Data
                  br
                  small
                    = moment(devicelastevent.DateTime).fromNow()
    .col-md-4
      .card.card-secondary
        .card-header
          h3.card-title MQTT Capability
        .card-body
          if !devicecapabilities
            | Cannot determine yet...
          else
            each devicecapability in devicecapabilities
              .row
                if devicecapability.Items
                  .col-md-4
                    = devicecapability.Value
                  .col-md-8
                    if devicecapability.Items
                      | &nbsp;&nbsp;
                      each devicecapitem in devicecapability.Items
                        span.badge.badge-info
                          = devicecapitem
                        | &nbsp;&nbsp;
                else 
                  .col-md-12
                    = devicecapability.Value

  script(type='text/javascript').
    //subscribes = { #{devicename} : "content-wrapper" };
  script(type='text/javascript')
    | subscribes = { #{devicename} : function() { divreload('content-wrapper', () => {
    each component, key in telecapabilitycomponents
      | LoadGraph_#{key}();
    |}) } };
  script(src='/plugins/jquery/jquery.min.js')
  script(src='/plugins/flot/jquery.flot.js')
  script(src='/plugins/flot-old/jquery.flot.resize.min.js')

  each component, key in telecapabilitycomponents
    script(type='text/javascript').
      function LoadGraph_#{key}() {
        var url = "/device/#{device.Name}/graph/tele/#{key}/1"; 
        $.get(url, function(data)
        {
          var timeline = JSON.parse(data);

          var interactive_plot = $.plot('##{key}',
          [
            {
              data: timeline,
            },
          ],
          {
            grid: {
              borderColor: '#f3f3f3',
              borderWidth: 1,
              tickColor: '#f3f3f3',
              autoHighlight: true,
            },
            series: {
              color: '#3c8dbc',
              lines: {
                lineWidth: 1,
                show: true,
                fill: false,
              },
            },
            yaxis: {
              show: true,
            },
            xaxis: {
              show: true,
              mode: "time",
              timezone: "browser",
              timeBase: "milliseconds",
              timeformat: "%H:%M",
              showTicks: true,
            }
          });
        })
      };
      
      $(function () {
        LoadGraph_#{key}();
      });
