extends _entity

block list
  .row
    .col-md-12
      span
        = name
      span.float-right.mr-3(id=unique + "_li" class="ui_" + entity.device.name + "_" + entity.code)
        = entity.value
        | 
        small
          = entity.unit

block group
  .btn.btn-app-placeholder.arrow.m-2
    i(class=entity.icon)
    = name
    br
    h6(id=unique + "_gr" class="ui_" + entity.device.name + "_" + entity.code)
      = entity.value
      | 
      small
        = entity.unit

block single
  input.knob(id=unique + "_s" class="ui_" + entity.device.name + "_" + entity.code class=entity.icon data-readOnly=true type='text' data-thickness='0.2' data-anglearc='250' data-angleoffset='-125' value=entity.value data-min=entity.minvalue data-max=entity.maxvalue data-unit=entity.unit data-width='40%' data-fgcolor='#17a2b8')
  br
  i.fa-2x
  | 
  = name


block all
  script(type='text/javascript').
    var #{entity.device.name + "_" + entity.code}_unit = '#{entity.unit}';
  script(type='text/javascript').
    $('##{unique}_li').on('valuechanged', function (e, data) 
    {
      $('##{unique}_li').html(data.value + " <small>" + #{entity.device.name + "_" + entity.code}_unit + "</small>");
    });
    $('##{unique}_gr').on('valuechanged', function (e, data) 
    {
      $('##{unique}_gr').html(data.value + " <small>" + #{entity.device.name + "_" + entity.code}_unit + "</small>");
    });
    $('##{unique}_s').on('valuechanged', function (e, data) 
    {
      $('##{unique}_s').val(data.value);
      $('##{unique}_s').trigger('change');
    });
